@font-face {
  font-family: "Norse";
  src: url(./fonts/Norse-Bold.otf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.left-wrapper,
.right-wrapper {
  display: flex;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
}

.left-wrapper,
.right-wrapper {
  flex-direction: column;
  height: 100%;
}

.left-wrapper {
  width: 40%;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  row-gap: 50%;
}

.right-wrapper {
  width: 60%;
}

.mobile-header {
  display: none;
  height: 70px;
  padding: 10px;
  background-color: black;
}

.mobile-odin-logo {
  height: 90%;
}

.logo-wrapper {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.odin-title {
  font-family: "Norse", sans-serif;
  color: white;
  font-size: 130px;
  align-self: flex-end;
}

.background-credits,
.background-credits a {
  color: white;
}

.background-credits {
  align-self: center;
}

.right-wrapper {
  background-color: #f9fafb;
}

.intro {
  padding: 50px;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro p {
  font-size: 1.7rem;
  line-height: 1.9rem;
}

.intro p + p {
  margin-top: 15px;
}

.form-wrapper {
  height: 67vh;
}

.signup-form {
  height: 100%;
}

.rows-wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px 0 20px 50px;
  box-shadow: 0 0 15px #afafaf;
}

.form-row {
  display: flex;
  gap: 50px;
}

.form-label {
  display: block;
  text-transform: uppercase;
  color: #494949;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.2ch;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
}

.submit-wrapper {
  padding: 60px 0 20px 50px;
}

.submit-button {
  background-color: #3e6c36;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
}

@media only screen and (max-width: 685px) {
  .logo-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 575px) {
  body {
    flex-direction: column;
  }
  .left-wrapper {
    display: none;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
